<title-web></title-web>
<div class="container row">
  <div class="col-md-3 content-left">
    <menu-function></menu-function>
  </div>
  <div class="col-md-9">
    <p class="title-function">Thêm sách mới</p>
    <div class="row">
      <div class="col-md-7 content-right">
        <strong>Thông tin sách</strong>
        <br/>
        <span>Vui lòng điền đầy đủ thông tin trước khi tạo</span>
        <input type="text" class="form-control form-style" placeholder=" Tựa sách">
        <input type="text" class="form-control form-style" placeholder=" Mô tả">
        <select type="text" class="form-control form-style">
            <option selected disabled>Chọn danh mục</option>
            <option>Tiểu thuyết</option>
            <option>Truyện tranh</option>
            <option>It</option>
        </select>
        <select type="text" class="form-control form-style">
            <option selected disabled>Chọn tác giả</option>
            <option>Hitachi</option>
            <option>Anime</option>
            <option>Hakane</option>
        </select>
        <select type="text" class="form-control form-style">
            <option selected disabled>Chọn nhà xuất bản</option>
            <option>Bộ giáo dục</option>
            <option>Anime kade</option>
            <option>Tiền Phong</option>
        </select>
        <input type="text" class="form-control form-style" placeholder=" Giá">
        <input type="text" class="form-control form-style" placeholder=" số lượng">
        <select type="text" class="form-control form-style">
            <option selected disabled>Chọn trạng thái</option>
            <option>Còn</option>
            <option>Hết</option>
        </select>
        <button type="button" class="fa fa-arrow-left btn btn-back"> Quay lại</button>
        <button type="button" class="fa fa-arrow-right btn btn-create"> Tạo</button>
      </div>
      <div class="col-md-5 content-right">
        <img class="img-size" src="https://spin.atomicobject.com/wp-content/uploads/20161220111635/Clean-Code.jpg">
        <button type="button" class="btn btn-choice">Chọn hình</button>
      </div>
    </div>
  </div>
</div>