/* .menu-bar{
    position: fixed;
    height: 100%;
    border-right: 1px solid;
    border-color: #EFEFEF;
    float: left;
} */

.content-right{
    background-color: white;
    padding: 2%;
}

.content-left{
   display: block;
   /* position: fixed;
   height: 100%;
   border-right: 1px solid;
   border-color: #EFEFEF;
   float: left; */
}

.form-style{
    margin-bottom: 2%;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #f1f1f1;
    color: black;
    font-size: 14px;
}

.img-size{
    width: 250px;
    height: 330px;
    margin-left: 0;
    margin-top: 20%;
}

.title-function{
    margin-top: 3%;
    margin-bottom: 3%;
}

::placeholder{
    font-size: 13px;
    color: black;
}

.btn-back{
    color: white;
    background-color: #ff5653;
    width: 100px;
    float: left;
    margin: 2%;
}

.btn-create{
    color: white;
    background-color: #32c787;
    width: 100px;
    margin: 2%;
    float: left;
}

.btn-choice{
    color: #2296f3;
    border: 1px solid #2296f3;
    background-color: white;
    font-size: 13px;
    margin-top: 2%;
}

.btn-choice:hover{
    background-color: #2296f3;
    color: white;
}
