.set-background{
    height: 50px;
    background-color: #32C787;
    color: white;
}

.form-style{
    margin-bottom: 2%;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #f1f1f1;
    color: black;
    font-size: 14px;
}

li > i{
    font-size: 16px;
    float: left;
    margin: 5px;
}

li > span{
    font-size: 13px;
    padding: 5px;
}

li{
    border: none;
    font-weight: bold;
    margin-bottom: 20px;
}


.button{
    color: #94959B;
}

.button:hover{
    color: #32C787;
}

.set-img{
    position: relative;
    top: 15%;
    left: 5%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}

.border-image{
    width: 100%;
    height: 60px;
    background-color: #EBEBEB;
    margin-top: 25px;
    margin-bottom: 20px;
}

.position-title{
    position: relative;
    left: 10%;
    top: 15%;
    font-size: 13px;
    display: block;
}

img + .position-title{
    font-weight: bold;
}

.content-right{
    background-color: white;
    padding: 2%;
}

.content-left{
   display: block;
   /* position: fixed;
   height: 100%;
   border-right: 1px solid;
   border-color: #EFEFEF;
   float: left; */
}