<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar  set-background">
  <a>Book Management System</a>
</nav>
<div class="container-fuild">
  <div class="row">
      <div class="col-sm-3 content-left">
          
<ul class="nav flex-column">
  <div class="nav-item border-image">
      <img class="set-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png">
      <span class="position-title">Adminstrator</span>
      <span class="position-title">admin@book.fsoft.com.vn</span>
    </div>
<li class="nav-item button">
<i class="material-icons">home</i>
<span>Trang chính</span> 
</li>
<li class="nav-item button">
<i class="material-icons">view_week</i>
<span>Danh mục sách</span> 
</li>
<li class="nav-item button">
<i class="material-icons">format_underlined</i>
<span>Quản lý tác giả</span>
</li>
<li class="nav-item button">
<i class="material-icons">widgets</i>
<span>Quản lý nhà xuất bản</span>
</li>
<li class="nav-item button">
<i class="material-icons">view_compact</i>
<span>Quản lý sách</span>
</li>
<li class="nav-item button">
<i class="material-icons">lock_open</i>
<span>Thoát</span>
</li>
</ul>
        </div>
        <div class="col-sm-9">
          <mainpage></mainpage>
        </div>
  </div>

</div>