li > i{
    font-size: 16px;
    float: left;
    margin: 5px;
}

li > span{
    font-size: 13px;
    padding: 5px;
}

li{
    border: none;
    font-weight: bold;
    margin-bottom: 20px;
}


.button{
    color: #94959B;
}

.button:hover{
    color: #32C787;
}

.set-img{
    position: relative;
    top: 15%;
    left: 5%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}

.border-image{
    width: 100%;
    height: 60px;
    background-color: #EBEBEB;
    margin-top: 25px;
    margin-bottom: 20px;
}

.position-title{
    position: relative;
    left: 10%;
    top: 15%;
    font-size: 13px;
    display: block;
}

img + .position-title{
    font-weight: bold;
}