<div class="card Panel">
  <div class="card-header Header">
    <span class="oi oi-person"></span>
    <i class="fa fa-user-circle" aria-hidden="true"></i>
    <p>Hi there! Please sign in</p>
  </div>
  <form class="panel-body Body" #userForm="ngForm" (ngSubmit)="onLogin(userForm)">
    <input type="text" class="form-control" placeholder="Email Address" name="Email" [(ngModel)]="Email">
    <input type="password" class="form-control" placeholder="Password" name="Password" [(ngModel)]="PassWord">
    <button type="submit" class="btn" >
      <i class="fa fa-arrow-right icon-circle" aria-hidden="true"></i>
    </button>
  </form>
</div>