.background{
    background-color: #F3F3F3;
}
.Panel{
    width: 340px;
    height: 345px;
    margin: 100px auto;
}

.fa-user-circle{
    font-size: 35px;
}

.Header{
    position: relative;
    bottom: 15px;
    width: 300px;
    height: 110px;
    background-color: #32C787;
    box-shadow: 0 3px #f3f3f3;
    color: white;
    margin: auto;
    text-align: center;
}

p{
    margin-top: 15px;
}
.Body{
    width: 330px;
    height: 330px;
    margin-top: 15px;
    background-color:#FFFFFF;
    text-align: center;
}

.form-margin{
    text-align: center;
}

.form-control{
    width: 300px;
    text-align: center;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #f1f1f1;
    margin: auto;
}

.btn{
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    background-color:#32C787 ;
    color: white;
    margin: auto;
    margin-top: 40px;
}
